/* General styles for the entire page. */

/* Basic */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  padding-inline-start: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 360px) {
  body {
      min-width: 360px;
  }
}

@media (min-width: 768px) {
  body {
      min-width: 768px;
  }
}

@media (min-width: 1440px) {
  body {
      min-width: 1440px;
  }
}
