
/* main */

.game-box {
  max-width: 1400px;
  width: 95%;
  aspect-ratio: 10/6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  font-size: 2vw;
}

.game-title {
  margin-bottom: 2vw;
  font-size: 3vw;
  font-weight: 600;
}

.game-status {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .1% auto;
  overflow: hidden;
}

.game-status-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin: 1% 0; */
  justify-content: center;
  gap: 3%;
  margin-bottom: 2vw;
}

.game-status-field-size,
.game-status-field-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.game-status-field-size-value,
.game-status-field-name-value {
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color-field);
  white-space: nowrap;
  min-width: 8.2vw;
  text-align: center;
}

.game-status-field-name-value {
  min-width: 20vw;
}

.game-status-field-size-list,
.game-status-field-name-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  margin-top: 4px;
  background-color: var(--background-color-field);
  border-radius: 10px;
  border: 10px solid var(--background-color-field);
  gap: 3px;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
  z-index: 1;
}

.game-status-field-name-list {
  width: 19vw;
}

.game-status-field-size-value:hover .game-status-field-size-list {
  transform: translateY(-2px) scaleY(1);
  opacity: 1;
}

.game-status-field-name-value:hover .game-status-field-name-list {
  transform: translateY(-2px) scaleY(1);
  opacity: 1;
}

.game-status-field-size-list-item {
  background-color: var(--background-color-field);
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.game-status-field-name-list-item {
  background-color: var(--background-color-field);
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.game-status-field-size-list-item:hover,
.game-status-field-name-list-item:hover {
  background-color: var(--background-color-field-hover);
  border-radius: 10px;
}

.game-status-field-timer {
  border-radius: 10px;
  border: 2px solid var(--border-color);
  cursor: default;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.game-status-button {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--border-button);
  background-color: var(--background-color-field);
  cursor: pointer;
}

.main-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.comb {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1%;
  font-size: 1.8vw;
  color: var(--border-button);
  -webkit-user-select: none;
  user-select: none;
}

.comb-row-top,
.comb-row-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.top-left-corner,
.clue-h,
.clue-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.top-left-corner {
  border-left: 1px solid var(--background-color);
  border-right: 1px solid var(--background-color);
}

.clue-h,
.clue-v {
  background-color: var(--background-color-clue);
}

.clue-h {
  border-left: 1px solid var(--border-button);
  border-top: 2px solid var(--border-button);
  border-right: 1px solid var(--border-button);
}

.clue-h .jack{
  border-top: none;
  border-bottom: none;
}

.clue-h .ceil{
  height: 2.3vw;
  border-top: none;
  border-bottom: none;
  cursor: default;
  background-color: var(--background-color-clue);
}

.clue-v {
  border-left: 2px solid var(--border-button);
  border-top: 1px solid var(--border-button);
  border-bottom: 1px solid var(--border-button);
}

.clue-v .jack{
  border-left: none;
  border-right: none;
}

.clue-v .ceil{
  width: 2.3vw;
  border-left: none;
  border-right: none;
  cursor: default;
  background-color: var(--background-color-clue);
}

.game-table {
  border: 1px solid var(--border-button);
}

.road {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.jack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid var(--border-button);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ceil {
  height: 2vw;
  width: 2vw;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background-color-field);
  background-color: var(--background-color-ceil);
  cursor: pointer;
}

.ceil[data-state="-1"]:before, .ceil[data-state="-1"]:after {
  content: "";
  position: absolute;
  width: 1.3vw;
  height: 2px;
  background: var(--border-button);
}

.ceil[data-state="1"] {
  background-color: var(--fill-color);
}

.ceil[data-state="-1"]:before {
  transform: rotate(45deg);
}

.ceil[data-state="-1"]:after {
  transform: rotate(-45deg);
}

.medium .ceil[data-state="-1"]:before, .medium .ceil[data-state="-1"]:after {
  width: 1.8vw;
}

.big .ceil[data-state="-1"]:before, .big .ceil[data-state="-1"]:after {
  width: 2.3vw;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  width: 1.3vw;
  height: 2px;
  background: var(--border-button);
}

.medium .cross:before, .medium .cross:after {
  width: 2.3vw;
}

.big .cross:before, .big .cross:after {
  width: 3.3vw;
}

.cross:before {
  transform: rotate(45deg);
}

.cross:after {
  transform: rotate(-45deg);
}

.fill {
  background-color: var(--fill-color);
}

.top-left-corner .jack {
  border: none;
}

.top-left-corner .ceil {
  height: 2.3vw;
  width: 2.3vw;
  border: none;
  cursor: default;
  background-color: var(--background-color);
}

.medium .ceil {
  height: 3vw;
  width: 3vw;
  max-width: 38px;
  max-height: 38px;
  font-size: 1.8vw;
}

.big .ceil {
  height: 3.5vw;
  width: 3.5vw;
  max-width: unset;
  max-height: unset;
  font-size: 2vw;
}

.game-options {
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: center;
  width: 15%;
}

.game-options-button {
  border-radius: 10px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color-field);
  cursor: pointer;
  padding: 0 10%;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.game-options-button:hover {
  border-radius: 20px;
  background-color: var(--button-hover);
}

.game-options-hr {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  cursor: default;
  margin: .5vw auto;
}

@media (min-width: 1440px) {

  .game-box {
    font-size: 30px;
  }

  .comb {
    font-size: 24px;
  }

}
