
/* main */

.game-box {
  max-width: 1400px;
  width: 95%;
  aspect-ratio: 10/6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #a0a0a0;
  font-size: 2.5vw;
}

.game-status {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .1% auto;
  overflow: hidden;
}

.game-status-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  justify-content: center;
  gap: 3%;
}

.game-status-field-size,
.game-status-field-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.game-status-field-size-value,
.game-status-field-name-value {
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid #a0a0a0;
  background-color: #d0d0d0;
  white-space: nowrap;
  min-width: 8.2vw;
  text-align: center;
}

.game-status-field-size-list,
.game-status-field-name-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  margin-top: 4px;
  background-color: #c0c0c0;
  border-radius: 10px;
  border: 10px solid #c0c0c0;
  gap: 3px;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.game-status-field-size-value:hover .game-status-field-size-list {
  transform: translateY(-2px) scaleY(1);
  opacity: 1;
}

.game-status-field-name-value:hover .game-status-field-name-list {
  transform: translateY(-2px) scaleY(1);
  opacity: 1;
}

.game-status-field-size-list-item {
  background-color: #c0c0c0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.game-status-field-name-list-item {
  background-color: #c0c0c0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.game-status-field-size-list-item:hover,
.game-status-field-name-list-item:hover {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.game-status-field-timer {
  border-radius: 10px;
  border: 2px solid #a0a0a0;
  cursor: default;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.game-status-button {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #606060;
  background-color: #d0d0d0;
  cursor: pointer;
}

.main-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.comb {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1%;
  font-size: 1.8vw;
  color: #606060;
}

.comb-row-top,
.comb-row-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.top-left-corner,
.clue-h,
.clue-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.top-left-corner {
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
}

.clue-h,
.clue-v {
  background-color: #e8e8e8;
}

.clue-h {
  border-left: 1px solid #606060;
  border-top: 2px solid #606060;
  border-right: 1px solid #606060;
}

.clue-h .jack{
  border-top: none;
  border-bottom: none;
}

.clue-h .ceil{
  height: 2.3vw;
  border-top: none;
  border-bottom: none;
  cursor: default;
  background-color: #e8e8e8;
}

.clue-v {
  border-left: 2px solid #606060;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
}

.clue-v .jack{
  border-left: none;
  border-right: none;
}

.clue-v .ceil{
  width: 2.3vw;
  border-left: none;
  border-right: none;
  cursor: default;
  background-color: #e8e8e8;
}

.game-table {
  border: 1px solid #606060;
}

.road {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.jack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid #606060;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ceil {
  height: 2vw;
  width: 2vw;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c0;
  background-color: #f8f8f8;
  cursor: pointer;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  width: 1.3vw;
  height: 2px;
  background: #606060;
}

.cross:before {
  transform: rotate(45deg);
}

.cross:after {
  transform: rotate(-45deg);
}

.fill {
  background-color: #9f9e9e;
}

.top-left-corner .jack {
  border: none;
}

.top-left-corner .ceil {
  height: 2.3vw;
  width: 2.3vw;
  border: none;
  cursor: default;
}

.game-options {
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: center;
  width: 15%;
}

.game-options-button {
  border-radius: 10px;
  border: 2px solid #a0a0a0;
  background-color: #d0d0d0;
  cursor: pointer;
  padding: 0 10%;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.game-options-button:hover {
  border-radius: 20px;
  background-color: #9195b3;
}

.game-options-hr {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #a0a0a0;
  cursor: default;
  margin: 10px auto;
}

@media (min-width: 1440px) {

  .game-box {
    font-size: 38px;
  }

  .comb {
    font-size: 26px;
  }

}
