.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* height: 120px; */
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    /* adaptive */
    flex-wrap: wrap;
    /* height: 100em; */
    font: 300 0.8em 'Fira Sans', sans-serif;
    justify-content: center;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    /* adaptive */
    border: unset;
    background-color: #232323;
    border-radius: 20%;
  }

.source__item-hide {
    display: none;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
    /* adaptive */
    text-align: center;
    display: inline-flex;
    white-space: wrap;
}

@media (max-width: 430px) {
    .sources {
        font-size: 0.65em;
    }
}