
/* main */

.game-box {
  max-width: 1000px;
  width: 80%;
  aspect-ratio: 10/6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #d3c0a8;
  font-size: 1.8vw;
  /* max-width: 1440px; */
}

.left-side {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(../img/gallows.svg) no-repeat center;
  background-size: 65%;
}

.left-side-game-name {
  font-weight: 800;
  margin-left: 14%;
  margin-top: 17%;
}

/* hangman */

.left-side-hanged {
  width: 40%;
  height: 52%;
  margin-left: 46%;
  margin-top: 21.2%;
  display: flex;
  flex-direction: column;
}

.left-side-hanged-head {
  background: url(../img/head.svg) no-repeat center;
  width: 45%;
  aspect-ratio: 1/1;
  background-size: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-hanged-body {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5% auto;
  justify-content: center;
}

.left-side-hanged-body-hand-one {
  background: url(../img/hand-one.svg) no-repeat center;
  aspect-ratio: 1/1;
  background-size: 100%;
  width: 90%;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-hanged-body-body {
  background: url(../img/body.svg) no-repeat center;
  aspect-ratio: 1/10;
  margin: 0 8%;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-hanged-body-hand-two {
  background: url(../img/hand-two.svg) no-repeat center;
  width: 90%;
  aspect-ratio: 1/1;
  background-size: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-hanged-legs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2%;
}

.left-side-hanged-legs-one {
  background: url(../img/leg-one.svg) no-repeat center;
  width: 40%;
  aspect-ratio: 1/1;
  background-size: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-hanged-legs-two {
  background: url(../img/leg-two.svg) no-repeat center;
  width: 40%;
  aspect-ratio: 1/1;
  background-size: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.left-side-ground {
  margin-left: 5%;
  width: 80%;
  margin-top: 5%;
  border-bottom: 4px solid #4b361c;
}

.right-side {
  width: 58%;
  height: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 10px; */
  /* border: 2px solid #d3c0a8; */
}

/* question */

.right-side-question {
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
  /* border: 2px solid #d3c0a8; */
  /* gap: 3%; */
  font-weight: 800;
  font-size: 5vw;
}

.right-side-question-sign {
  width: 10%;
  aspect-ratio: 1.2/1;
  /* border-radius: 5px; */
  /* border: 2px solid #5455ac; */
  /* background-color: #5455ac; */
  /* color: #dbdbfd; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hint */

.right-side-hint {
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border-radius: 10px; */
  /* border: 2px solid #d3c0a8; */
  align-items: center;
  text-align: center;
  justify-content: center;
}

.right-side-hint {
  font-style: italic;
}

/* check */

.right-side-check {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
  /* border: 2px solid #d3c0a8; */
  font-weight: 600;
}

.right-side-check-score {
  color: #9b0202;
  font-weight: 800;
  margin: 0 2%;
}

.right-side-check-score-m {
  margin: 0 10%;
}

/* keyboard */

.right-side-keyboard {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
  /* border: 2px solid #d3c0a8; */
  align-content: center;
  gap: 2px;
}

.right-side-keyboard-key {
  width: 10%;
  aspect-ratio: 1.2/1;
  border-radius: 5px;
  border: 2px solid #5455ac;
  background-color: #5455ac;
  color: #dbdbfd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-side-keyboard-key-pushed {
  background-color: #aaabdd;
  cursor: no-drop;
}

/* modal-window */

.modal-window-overlay {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70625157;
  opacity: 1;
  transition: opacity 1s ease-out, visibility 0.3s ease-out;
  backdrop-filter: blur(8px);
}

.modal-window {
  z-index: 11;
  width: 60%;
  aspect-ratio: 1.8/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b79f8a8c;
  border-radius: 40px;
  border: 2px solid #2e1b0b44;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.modal-window-name {
  height: 10%;
  font-size: 3vw;
  font-weight: 600;
}

.modal-window-result {
  font-size: 5vw;
  font-weight: 800;
}

.modal-window-word-title {
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.modal-window-word-word {
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
}

.modal-window-button {
  /* width: 30%; */
  padding: 2%;
  aspect-ratio: 4/1;
  outline: 1px solid #914405;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  background-color: #d3c0a882;
  transition: background-color 0.3s ease-out;
  font-size: 3vw;
  text-align: center;
}

.modal-window-button:hover {
  background-color: #926a3882;
}

@media (min-width: 1240px) {

  .game-box {
    font-size: 22px;
  }

  .right-side-question {
    font-size: 60px;
  }
  
}

@media (max-width: 840px) {

  .game-box {
    width: 80%;
    aspect-ratio: 6/7;
    flex-direction: column;
    font-size: 2.6vw;
  }
  
  .left-side {
    width: 50%;
    height: 60%;
    background-size: 79%;
  }
  
  .left-side-game-name {
    margin-left: 16%;
    margin-top: 5%;
  }
  
  .left-side-hanged {
    width: 55%;
    height: 70%;
    margin-left: 55%;
    margin-top: 25.2%;
  }
  
  .left-side-ground {
    margin-left: 16%;
    width: 94%;
    margin-top: -2%;
    border-bottom: 4px solid #4b361c;
  }
  
  .right-side {
    width: 100%;
    height: 40%;
    padding: 0;
  }

  .right-side-question {
    font-size: 8vw;
  }
  
  .right-side-keyboard {
    width: 90%;
    height: 40%;
    gap: 1px;
  }

  .right-side-keyboard-key {
    width: 10%;
    aspect-ratio: 1.6/1;
  }

  .modal-window {
    width: 80%;
  }
  
}

@media (max-width: 620px) {
  
  .game-box {
    width: 90%;
    aspect-ratio: 4.5/7;
    font-size: 3vw;
    justify-content: flex-start;
  }
  
  .left-side {
    width: 50%;
    height: 54%;
    background-size: 87%;
    margin-bottom: 5%;
  }

  .left-side-game-name {
    margin-left: 16%;
    margin-top: 12%;
  }

  .left-side-hanged {
    width: 64%;
    height: 57%;
    margin-left: 62%;
    margin-top: 29.2%;
  }

  .left-side-ground {
    margin-left: 16%;
    width: 94%;
    margin-top: 10%;
  }

}

/* auxiliary */

.element-visible {
  opacity: 1;
}
