.app {
  max-width: 1920px;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  border-radius: 10px;
  font-size: 25px;
}

.app-state {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.app-state-leftside {
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  justify-content: flex-start;
}

#app-state-level {
  display: flex;
  padding: 0 38px 0 43px;
  margin: 0 40px 0 10px;
  font-size: 20px;
  cursor: pointer;
}

#app-state-level option {
  margin: 1px 5px;
}

#app-state-page {
  display: flex;
  padding: 0 30px 0 40px;
  margin: 0 40px 0 10px;
  font-size: 20px;
  cursor: pointer;
}

#app-state-page option {
  margin: 1px 5px;
}

.app-state-rightside {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  justify-content: flex-end;
  gap: 10px;
}

.app-state-button {
  width: 40px;
  height: 40px;
  padding: 4px;
  display: flex;
  background-color: #afafaf;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 6px solid #afafaf;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.app-state-button:hover {
  transform: scale(1.2);
}

.app-state-button.active {
  background-color: #993366;
  border-color: #993366;
}

.app-state-button-sound {
  background-image: url('./svg/speaker.svg');
}

.app-state-button-translation {
  background-image: url('./svg/list.svg');
}

.app-state-button-voice {
  background-image: url('./svg/music.svg');
}

.app-state-button-image {
  background-image: url('./svg/picture.svg');
}

.app-state-button-logout {
  background-image: url('./svg/logout.svg');
  margin-left: 10px;
}

.app-pool {
  width: 1440px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-pool-head {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.app-pool-head-sound {
  width: 30px;
  height: 30px;
  padding: 4px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 6px solid transparent;
  -webkit-mask: url('./svg/speaker.svg') no-repeat 50% 50%;
  mask: url('./svg/speaker.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  background-color: #afafaf;
  mask-size: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 1px 6px 3px #000;
}

.app-pool-head-sound:hover {
  transform: scale(1.2);
}

.app-pool-head-translation {
  display: flex;
  font-size: 20px;
}

.app-pool-place {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.app-pool-place-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.app-pool-place-numbers-number {
  display: flex;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  width: 45px;
  aspect-ratio: 1/1;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 7px 0px #706f6f;
}

.app-pool-place-lines {
  width: 1220px;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #d8d8d8;
  box-shadow: 3px 3px 10px 0px #a3a3a3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app-pool-place-lines-line {
  display: flex;
  width: 100%;
  height: 55px;
}

.app-pool-place-line-line-puzzle {
  display: flex;
}

.app-pool-shop {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.app-pool-shop-number {
  display: flex;
  border-radius: 50%;
  border: 2px solid #8f8f8f;
  width: 45px;
  aspect-ratio: 1/1;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 7px 0px #706f6f;
  margin-right: 10px;
  opacity: 0;
}

.app-pool-shop-puzzle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1220px;
  height: 59px;
  border-radius: 4px;
  border: 2px solid #d8d8d8;
  box-shadow: 3px 3px 10px 0px #a3a3a3;
  margin: 20px 0;
}

.app-pool-shop-puzzle-piece {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  text-shadow:
    2px 0px 1px #eeeeee,
    -2px 0px 1px #eeeeee,
    0px 2px 1px #eeeeee,
    0px -2px 1px #eeeeee,
    2px 2px 1px #eeeeee,
    -2px -2px 1px #eeeeee,
    2px -2px 0px #eeeeee,
    -2px 2px 1px #eeeeee;
}

.app-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 15px;
}

.app-controls-button {
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2px 4px;
  padding: 4px 8px;
  color: #fff;
  background-color: #993366;
  border-radius: 2px;
  border: 2px solid #993366;
  box-shadow: 2px 2px 5px #686868;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.app-controls-button:hover {
  transform: scale(1.2);
}

@media (max-width: 1400px) {
  body {
    min-width: 768px;
    max-width: 1200px;
  }

  .app {
    font-size: 20px;
    height: 100vh;
    justify-content: space-evenly;
  }

  .app-pool {
    width: 768px;
    height: 640px;
  }

  .app-pool-place {
    font-size: 16px;
  }

  .app-pool-head-sound {
    width: 25px;
    height: 25px;
  }

  .app-pool-head-translation {
    font-size: 18px;
  }

  .app-pool-place-numbers {
    gap: 10px;
    margin-right: 6px;
  }

  .app-pool-place-numbers-number {
    width: 30px;
    height: 30px;
  }

  .app-pool-place-lines {
    width: 700px;
    height: 400px;
  }

  .app-pool-place-lines-line {
    display: flex;
    width: 100%;
    height: 40px;
  }

  .app-pool-shop {
    font-size: 20px;
  }

  .app-pool-shop-number {
    margin-right: 6px;
    width: 30px;
    height: 30px;
  }

  .app-pool-shop-puzzle {
    width: 700px;
    height: 44px;
    margin: auto;
  }

  .app-pool-shop-puzzle-piece {
    font-weight: 600;
    font-size: 18px;
  }
}

.solved-with-hint {
  background-color: #af8383;
}

.marked-element {
  color: #e90074;
}

.marked-piece {
  border-color: #e90074;
  color: #e90074;
}

.marked-line {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  box-shadow: 3px 3px 10px 0px #a3a3a3;
}

.app-controls-button-disabled {
  color: #fff;
  background-color: #bcbabb;
  border-color: #a5a0a3;
  box-shadow: 2px 2px 5px #686868;
  cursor: default;
}

.app-controls-button-disabled:hover {
  transform: none;
}
