/* General styles for the entire page. */

/* Basic */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-body, #E1D4C9);
}

h1 {
    padding: 0;
    margin: 0;
}


.wrapper {
    display: flex;
    padding: 20px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 600px) {
    body {
        min-height: 100vh;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}
