/* General styles for the entire page. */

/* Basic */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-body, #E1D4C9);

    /* max-width: 768px; */
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-inline-start: 0px;
}

.outerbox {
    display: flex;
    padding: 12px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 600px) {
    body {
        min-height: 100vh;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}
