
@media (max-width: 768px) {

    /* header */
    
    .header-logo {
        z-index: 1;
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        color: #FFFFFF;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 160px 40px;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        transform: translateX(100%);
    }
    
    .header-nav-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        gap: 60px;
    }

    .header-nav-item {
        padding: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
    }

    .header-coffee-menu {
        gap: 16px;
    }

    .header-coffee-menu-cup {
        width: 40px;
    }

    .burger-menu-button {
        display: flex;
    }

    .burger-menu-button-hr-top {
        width: 16px;
        height: 1px;
        background-color: var(--text-dark, #403F3D);
    }

    .burger-menu-button-hr-bottom {
        width: 16px;
        height: 1px;
        background-color: var(--text-dark, #403F3D);
    }
    
    /* main */

    /* section hero */

    .hero {
        padding: 100px 60px;
    }
    
    .hero-btn-primary-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .hero-btn-primary-link-text {
        margin-left: 0;
    }
    
    .hero-btn-primary-link-img {
        opacity: 1;
        margin-left: 0;
    }

    @media (hover: hover) {
        .hero-btn-primary:hover .hero-btn-primary-link-text {
            transform: none;
        }
        .hero-btn-primary:hover .hero-btn-primary-link-img {
            opacity: 1;
        }
    }

    /* section favorite coffee */

    .favorite-coffee-slider-row-side-l {
        margin-left: 0;
    }

    .favorite-coffee-slider-row-side-r {
        margin-right: 0;
    }

    /* section about */
    
    .about-imgs-col {
        width: 688px;
    }
        
    .about-imgs-col-img-large {
        width: 688px;
        height: 590px;
    }
    
    .about-imgs-col-img-small {
        height: 430px;
    }
    
    .about-imgs-img {
        transform: scale(1.055);
    }
    
    @media (hover: hover) {
        .about-imgs-img:hover {
            transform: scale(1);
        }
    }
    
    .about-imgs-col-img-small {
        display: none;
    }

    /* section mobile-app */

    .mobile-app {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
     
    .mobile-app-img-img {
        margin-left: 29px;
    }

    /* section contact-us */

    .contacts {
        padding: 100px 60px 105px 60px;
    }

    .contacts-offer {
        width: 100%;
    }
    .contacts-info {
        margin-top: 0;
        width: 100%;
    }

}