
@media (max-width: 480px) {

    /* outerbox */

    .outerbox {
        display: flex;
        padding: 12px 16px 40px 16px;
        flex-direction: column;
        align-items: center;
    }

    /* header */

    /* main */

    /* section hero */

    .hero-offer {
        width: 100%;
    }

    .hero {
        padding: 60px 16px;
    }
    
    /* section favorite coffee */

    .favorite-coffee {
        align-self: stretch;
    }

    .favorite-coffee-slider-row-side-l {
        display: none;
    }
    
    .favorite-coffee-slider-row-side-c {
        min-width: 100px;
        width: 100%;
        max-width: 348px;
        /* overflow: hidden; */
    }

    .favorite-coffee-slider-row-side-c-item {
        width: 100%;
        max-width: 348px;
    }
    
    .favorite-coffee-slider-row-side-c-item-pic {
        width: auto;
        height: auto;
        margin-bottom: -2px;
    }

    .favorite-coffee-slider-row-side-c-item-pic-img {
        width: 100%;
        height: auto;
    }

    .favorite-coffee-slider-row-side-r {
        display: none;
    }

    /* section about */
    
    .about {
        max-width: 100%;
        align-self: stretch;
    }

    .about-imgs-col {
        display: flex;
        flex-direction: column;
        width: 348px;
    }
    
    .about-imgs-img {
        width: auto;
        height: 100%;
        transform: scale(1.24);
    }

    .about-imgs-col-img-large {
        width: 348px;
        height: 590px;
    }
    
    /* section mobile-app */

    .mobile-app {
        max-width: 100%;
        align-self: stretch;
        gap: 40px;
    }
    
    .mobile-app-offer-apps {
        flex-wrap: wrap;
    }

    .mobile-app-img-img {
        margin-left: 0;
        max-width: 348px;
    }
    /* section contact-us */

    .contacts {
        padding: 60px 16px 64px 16px;
        gap: 40px;
    }
}


@media (max-width: 370px) {
    
    /* section favorite coffee */
 
    .favorite-coffee-slider-row {
        justify-content: center;
    }

    .favorite-coffee-slider-row-side-c {
        max-width: 248px;
        /* overflow: hidden; */
    }

    .favorite-coffee-slider-row-side-c-item {
        max-width: 248px;
    }
    
    /* section about */
    
    .about-imgs-col {
        display: flex;
        flex-direction: column;
        width: 348px;
        align-items: center;
    }

    .about-imgs-col-img-large {
        width: 248px;
        height: 290px;
    }

    /* section mobile-app */
    .mobile-app {
        justify-content: flex-end;
    }

    .mobile-app-img-img {
        margin-left: 0;
        max-width: 248px;
    }

}    
