/* Mobile */

@media (max-width: 480px) {

    .typo-mobile-heading-heading-1 {
        /* Mobile/Heading/heading-1 */
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
    }

    .typo-mobile-heading-heading-1-accent {
        /* Mobile/Heading/heading-1.accent */
        font-family: Inter;
        font-size: 42px;
        font-style: italic;
        font-weight: 600;
        line-height: 115%; /* 48.3px */
    }

    .typo-mobile-heading-heading-2 {
        /* Mobile/Heading/heading-2 */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 40px */
    }

    .typo-mobile-heading-heading-2-accent {
        /* Mobile/Heading/heading-2.accent */
        font-family: Inter;
        font-size: 32px;
        font-style: italic;
        font-weight: 600;
        line-height: 125%; /* 40px */
    }
}
