:root {
    --background-body: #E1D4C9;
    --background-container: #665F55;

    --border-dark: #403F3D;
    --border-light: #C1B6AD;

    --text-dark: #403F3D;
    --text-accent: #B0907A;
    --text-light: #E1D4C9;
    
    --effect-duration-short: .15s;
    --effect-duration-normal: .3s;
    --effect-duration-long: .5s;
}
  